{% extends 'base/base.html' %} 
{% block content %}

<link rel="stylesheet" href="../static/css/profile.css" version="1" />


<section>
	 <div class="container" id="user-cards">
            <div class="card">
                <div class="content">
                    <div class="imgBx">
                        <img src="../static/img/default_profile.png" alt="" loading="lazy">
                    </div>
                    <div class="contentBx">
                        <h3>{{ user_details.firstName }} {{ user_details.lastName }}<br>
                            <span>{{ user_details.email }}</span><br>
                            <span>@{{ user_details.username }}</span>
                        </h3>
                    </div>
                </div>
                <ul class="sci">
                    <li style="--i:1">
                        <a href="javascript:;"><i id="whatsapp" class="fa-brands fa-whatsapp"></i></a>
                    </li>
                    <li style="--i:2">
                        <a href="javascript:;"><i id="share" class="fa-solid fa-share-nodes"></i></a>
                    </li>
                    <li style="--i:3">
                        <a href="{% url 'edit_profile' %}"><i id="edit" class="fa-solid fa-pen-to-square"></i></a>
                    </li>
                    <li style="--i:4">
                        <a id="logout_modal_button" onclick="toggleLogoutModal()"><i id="logout" class="fa-solid fa-arrow-right-from-bracket"></i></a>
                    </li>
                </ul>
            </div>
	</div> 
</section>

<div id="logoutModal" aria-hidden="true">
    <div id="logout_ModalHead" class="modal-header">
      <h2 class="modal-title">Confirm Logout</h2>
    </div>
    <div class="modal-body">
      <h3>Do you really want to logout?</h3>
    </ul>
    </div>
    <div class="modal-footer">
      <button id="btn_close" class="btn btn-secondary m-2" onclick="toggleLogoutModal()">Close</button>
      <a id="btn_logout" class="btn btn-danger m-2" href="{% url 'logout' %}" id="logoutbutton">Logout</a>
    </div>
  </div>


  <script src="../static/js/profile.js"></script>
  {% endblock %}
