{% extends './base/base.html' %}
{% block content %}

<meta charset="UTF-8" />
<link rel="stylesheet" href="../../static/css/Loginstyle.css" version="1" />

<main>
  <section class="form">
    <div class="logo text-center">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M21 7.5l-2.25-1.313M21 7.5v2.25m0-2.25l-2.25 1.313M3 7.5l2.25-1.313M3 7.5l2.25 1.313M3 7.5v2.25m9 3l2.25-1.313M12 12.75l-2.25-1.313M12 12.75V15m0 6.75l2.25-1.313M12 21.75V19.5m0 2.25l-2.25-1.313m0-16.875L12 2.25l2.25 1.313M21 14.25v2.25l-2.25 1.313m-13.5 0L3 16.5v-2.25"
        />
      </svg>
    </div>
    <h1 class="form__title">Create your Account</h1>
    <p class="form__description">Welcome! Please, enter your information</p>

    <form method="POST" action="{% url 'create' %}" autocomplete="on" onsubmit="return validatePassword();">

      {% csrf_token %}
      <label class="form-control__label">Username</label>
      <input type="text" class="form-control" required name="username" />

      <label class="form-control__label">FirstName</label>
      <input type="text" class="form-control" required name="firstName" />

      <label class="form-control__label">LastName</label>
      <input type="text" class="form-control" name="lastName" />

      <label class="form-control__label">Email</label>
      <input type="email" class="form-control" required name="email" />


      <label class="form-control__label">Password</label>
      <div class="password-field">
        <input
          type="password"
          class="form-control"
          minlength="4"
          id="password"
          required
          name="password"
        />
      </div>
      <label class="form-control__label">Confirm Password</label>
      <div class="password-field">
        <input
          type="password"
          class="form-control"
          minlength="4"
          id="Confirm_password"
          required
          name="password1"
        />
      </div>
      <div class="password__settings">
        <label class="password__settings__remember">
          <input type="checkbox" name="is_superuser" value="true" />

          <span class="custom__checkbox">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="2"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"
              />
            </svg>
          </span>
          Are you a superuser?
        </label>
        <a href="#">Forgot Password?</a>
      </div>

      <button
        type="submit"
        class="form__submit btn btn-primary"
        id="submit"
        name="signup"
        value="register"
      >
        Sign Up
      </button>
    </form>

    <p class="form__footer text-center">
      Already have an account? <a href="{% url 'login' %}"> Log In</a>
    </p>
  </section>

  <section class="form__animation">
    <div id="ball">
      <div class="ball">
        <div id="face">
          <div class="ball__eyes">
            <div class="eye_wrap"><span class="eye"></span></div>
            <div class="eye_wrap"><span class="eye"></span></div>
          </div>
          <div class="ball__mouth"></div>
        </div>
      </div>
    </div>
    <div class="ball__shadow"></div>
  </section>
</main>

<!-- Alert Modal -->
{% if messages %}
<div id="Signup_alert_modal" >
  {% for message in messages %}
  <div id="Signup_alert_modal_alert">{{ message }}</div>
  {% endfor %}
</div>
{% endif %}

<script src="../../static/js/main.js"></script>
<script>
function validatePassword() {
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("Confirm_password").value;
    if (password !== confirmPassword) {
        alert("Passwords do not match.");
        return false; // Prevent form submission
    }
    return true; // Allow form submission
}
</script>

{% endblock %}
