/* author: https://codepen.io/ecemgo/pen/XWoJzYK
Ecem Gokdogan */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(rgb(188, 188, 188), rgb(171, 171, 171));
  min-height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 5;
}

#logo {
  /* width: 40px; */
  color: #000000;
  font-size: 2rem;
  transition: all 0.5s ease;
}

#logo:hover{
  color: rgb(60, 63, 255);
}


.nav{
  /* background-color: rgb(41, 41, 41); */
  height: 10vh;
  align-items: center;
  padding-left: 10vw;
}

.nav-item {
  position: relative;
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: -0.13px;
  text-decoration: none;
  margin-left: 2.5rem;
  transition: all 0.5s ease;
}

.nav-item:hover {
  color: rgb(60, 63, 255);
}

.nav-item::after {
  content: "";
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  width: 0;
  height: 0.15rem;
  transform: translateX(-50%);
  background-color: rgb(60, 63, 255);
  transition: all 0.5s ease;
}

.nav-item:hover::after {
  width: 100%;
}

.icons {
  position: absolute;
  right: 5%;
  font-size: 2.3rem;
  color: #fff;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
